<app-nav></app-nav>


<div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ml-2 mr-2">
            <ng-container *ngIf="conpanyAccList.length==0">
                <form (ngSubmit)="f.form.valid && saveCompanyAcc()" name="form" #f="ngForm" novalidate>
                    <div class="form-row">

                        <div class="col-md-4">
                            <label for="accType">Account Type</label>
                            <select class="form-control" name="accType" [(ngModel)]="companyAccountModel.type">
                                <option value="Savings" >Savings</option>
                                <option value="Current">Current</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="AccountName">Account Name<span style="color: red;">*</span></label>
                            <input type="text" class="form-control is-valid" id="AccountName" name="AccountName"
                                placeholder="Account Name" required [(ngModel)]="companyAccountModel.accName">
                        </div>

                        <div class="col-md-4">
                            <label for="AccountNumber">Account Number *</label>
                            <input type="text" class="form-control is-valid" id="AccountNumber" name="AccountNumber"
                                placeholder="Account Number" required [(ngModel)]="companyAccountModel.accNumber">
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-md-4">
                            <label for="BankName">Bank Name</label>
                            <input type="text" class="form-control" id="BankName" name="BankName"
                                placeholder="Bank Name" [(ngModel)]="companyAccountModel.bankName">
                        </div>

                        <div class="col-md-4">
                            <label for="BranchName">Branch Name</label>
                            <input type="text" class="form-control" id="BranchName" name="BranchName"
                                placeholder="Branch Name" [(ngModel)]="companyAccountModel.branchName">
                        </div>

                        <div class="col-md-4">
                            <label for="initBlance">Initial Balance</label>
                            <input type="number" class="form-control" id="initBlance" name="initBlance"
                                placeholder="Initial Balance" [(ngModel)]="companyAccountModel.balance">
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </ng-container>

            <ng-container *ngIf="conpanyAccList.length!=0">
                <table>
                    <tbody>
                        <tr>
                            <th style="width: 128px;" class="text-right">Update Balance: </th>

                            <td style="width: 128px;">
                                <input type="number" class="form-control" id="initBlance" name="initBlance"
                                    placeholder="Initial Balance" [(ngModel)]="companyAccountModel.balance">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" type="button" (click)="saveCompanyAcc()">
                    Save
                </button>

                <button class="btn btn-primary" type="button" (click)="tranHistory()">
                    History
                </button>
            </ng-container>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ml-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Account Type</th>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Bank Name</th>
                        <th>Branch Name</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of conpanyAccList;let i = 'index'">
                        <tr>
                            <td>{{item.type}}</td>
                            <td>{{item.accName}}</td>
                            <td>{{item.accNumber}}</td>
                            <td>{{item.bankName}}</td>
                            <td>{{item.branchName}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>