/* .invoiceGrid {
    background: #f9f9f9;
    border: solid 1px #ddd;
    border-top: 0px;
}

.vital-table-modal th{
    border-bottom-width: 1px;
    background: #d8efed;
    color: #00544c;
}

.vital-table-modal{
    width: 766px !important;
    overflow: auto;
}
.vital-table-modal td{
    white-space: nowrap;
} */
