<app-nav></app-nav>

<Table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Action</th>
            <th>Grade/Rank Name</th>
            <th>Maximum Post</th>
            <th>Basic Salary</th>
            <th>House Rent(20%)</th>
            <th>Medical Allowance(15%)</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash-alt"></i></td>
            <td>d</td>
            <td>d</td>
            <td>sfda</td>
            <td>dfs</td>
            <td>dsf</td>
            <td>sdf</td>
        </tr>
    </tbody>

</Table>