/* .navbar-nav {
    flex-direction: row;
    list-style: inside;
} */

.nav-custom{
    background-color: #1880c9;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 0px;margin-bottom: 30px;
}
.nav-custom li a {
    color: #fff !important;
    font-size:17px;
    font-weight: normal;padding: 10px 18px;
}

.active{
    background: #00264c !important;
}