<app-nav></app-nav>

<div>
    <div class="row mr-2">
        <div class="col-md-12 col-sm-12 ml-2">
            <form (ngSubmit)="f.form.valid && saveOrUpdate()" name="form" #f="ngForm" novalidate>
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="employee">Employee</label>
                        <select class="form-control" [(ngModel)]="empAccModel.employee.id"
                            (change)="changeAccType($event)" name="employee" id="employee">
                            <option value="{{emp.id}}" *ngFor="let emp of empList">{{emp.empName}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="type"> Account Type </label>
                        <select class="form-control" [(ngModel)]="empAccModel.type" (change)="changeAccType($event)"
                            name="type" id="type">
                            <option value="Current">Current</option>
                            <option value="Saving">Saving</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="accoutName">Account Name<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="accoutName" name="accoutName"
                            placeholder="Insert Account Name" required [(ngModel)]="empAccModel.accName">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-md-4">
                        <label for="accoutNum">Account Number<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="accoutNum" name="accoutNum"
                            placeholder="Insert Account Number" required [(ngModel)]="empAccModel.accNumber">
                    </div>
                    <div class="col-md-4">
                        <label for="bnakN">Bank Name</label>
                        <input type="text" class="form-control" id="bnakN" name="bnakN" placeholder="Ensert Bank Name"
                            [(ngModel)]="empAccModel.bankName">
                    </div>
                    <div class="col-md-4">
                        <label for="branchN">Branch Name</label>
                        <input type="text" class="form-control" id="branchN" name="branchN"
                            placeholder="Ensert Branch Name" [(ngModel)]="empAccModel.branchName">
                    </div>
                </div>
                <button class="btn btn-info mt-2 mr-2" type="button" (click)="onClickClear()">Clear</button>
                <button class="btn btn-primary mt-2" type="submit">Save</button>
            </form>
        </div>
    </div>

    <div class="row mt-3 mr-2">
        <div class="col-md-12 col-sm-12 ml-2">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">Action</th>
                        <th>Employee</th>
                        <th>Account Type</th>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Bank Name</th>
                        <th>Branch Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empAcc of empAccList; let i=index ">
                        <td class="text-center"><i class="fas fa-edit" (click)="editEmpAcc(empAcc)"></i></td>
                        <td class="text-center"><i class="fas fa-trash-alt" (click)="deleteEmpAcc(empAcc)"></i></td>
                        <td>{{empAcc.employee.empName}}</td>
                        <td>{{empAcc.type}}</td>
                        <td>{{empAcc.accName}}</td>
                        <td>{{empAcc.accNumber}}</td>
                        <td>{{empAcc.bankName}}</td>
                        <td>{{empAcc.branchName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>